/***************************
variable
****************************/
// 이미지 디렉토리
$directory: '../img/';

// aside, footer 메뉴 서식 통일
$menu-list-margin-right: 7rem;
$menu-list-margin-bottom: 1rem;
$menu-list-li-margin: .7rem 0;
$menu-list-li-tit-font-size: .9rem;
$menu-list-li-tit-margin-bottom: 1.2rem;

// 색
$color1: #f6f5ef;
$color2: #2c2a29;
$color3: #669900;
$color4: #ffffff80;
$color5: #1e3932;