@import '_var.scss';
@import '_animation.scss';

/***************************
Default display
****************************/
* {
  box-sizing: border-box;
}

html,
body {
  min-width: 100%;
  max-width: 100%;
  position: relative;
  word-break: keep-all;
}

a {
  all: unset;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}

button {
  all: unset;
  display: block;
  cursor: pointer;
}

li > a {
  display: block;
}

strong {
  font-weight: bold;
}

.blind-text {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
}

.flex-row {
  display: flex;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.clearfix::after {
  content: "";
  display: block;
  float: none;
  clear: both;
}

// 커스텀
.active {
  display: block !important;
}

.hide {
  display: none;
}

.bold {
  font-weight: bold;
}

.abs {
  position: absolute;
}

div.inner {
  width: 1100px;
  height: inherit;
  margin: 0 auto;
}

// hover 버튼 설정
.btn-h {
  $btn-color: #fff; // 버튼 색 설정
  display: inline-block;
  padding: .58rem 1.6rem;
  border: 2px solid $btn-color;
  border-radius: .3rem;
  font-size: .9rem;
  color: $btn-color;
}

// hover 시 색변화
.btn-h.btn-type1 {
  transition: background-color .6s, color .6s;
  &:hover {
    color: #fff !important;
  }
}

/***************************
Header
****************************/
header {
  width: 100%;
  border-top: 2px solid #333;
  border-bottom: 1px solid #ddd;
  background: $color1;
  letter-spacing: -0.01rem;
  position: fixed;
  top: 0;
  z-index: 100;
  .logo {
    width: 10rem;
    padding: 1.2rem;
  }
}

header .nav-util {
  justify-content: flex-end;
  margin: .5rem 0;
  font-size: .8rem;
  color: #666;
  ul {
    align-items: center;
  }
  li {
    padding: 0 1rem;
    border-right: 1px solid #ddd;
    &:last-of-type {
      border-right: none;
    }
  }
  button {
    width: 2rem;
    height: 2rem;
    border: 1px solid #ccc;
    border-radius: 15%;
    background: url('#{$directory}icon_magnifier_black.png') #fff no-repeat center;
  }
}

header .nav-main {
  h3 {
    a {
      display: block;
      font-size: 0.9rem;
      padding: .7rem 1.5rem 2.5rem;
      &:hover {
        background-color: $color2;
        color: $color3;
      }
    }
  }
}

/***************************
Aside
****************************/
aside.sub-menu {
  width: 100%;
  max-height: 0px;
  overflow: hidden;
  border-bottom: 1px solid #ccc;
  background-color: $color2;
  color: #fff;
  font-size: .72rem;
  letter-spacing: -0.05rem;
  position: fixed;
  z-index: 101;
  .sub-item {
    display: none;
    .inner {
      flex-wrap: wrap;
      padding: 1rem 0;
    }
    // footer 공통 서식
    .menu-list {
      width: 20%;
      li {
        margin: $menu-list-li-margin;
        color: $color4;
        &.list-tit {
          font-size: $menu-list-li-tit-font-size;
          margin-bottom: $menu-list-li-tit-margin-bottom;
          color: #fff;
        }
        a {display: inline;}
      }
    }
    .container:nth-of-type(2) {
      padding: .5rem 0;
      background: url('#{$directory}gnb_sub_txbg.jpg') repeat-x;
      .inner > div {
        padding-bottom: .5rem;
        & > * {
          margin: .5rem 0;
        }
      }
      p strong {
        font-weight: bold;
        color: $color4;
      }
      span { 
        color: $color3;
      }
    }
  }
}

aside.event {
  .inner div {
    margin-left: 35rem;
    position: fixed;
    top: 9.5rem;
    left: 50%;
    z-index: 1000;
    // left: auto;
    // right: 1%;
  }
  a {display: block;}
  img {width: 140px;}
}

/***************************
Main
****************************/
main .season-menu {
  margin-top: 7.4rem;
  .title {
    height: 646px;
    background: url('#{$directory}2022_Summer1_main_bg.jpg') no-repeat center;
    background-size: cover;
  }
  .inner {
    position: relative;
  }
  .title-slogun {
    width: 22rem;
    padding: 3rem 0;
    text-align: center;
    z-index: 2;
    .btn-h.btn-type1 {
      $btn-color : #d73a7a; // 버튼 색
      margin: 2rem 0;
      border-color: $btn-color;
      color: $btn-color;
      &:hover {background-color: $btn-color;}
    }
    img {
      width: 282px;
    }
  }
  img {
    &.item1 {
      left: 13rem;
      bottom: 7rem;
    }
    &.item2 {
      left: 24.5rem;
      bottom: 10rem;
    }
    &.item3 {
      left: 56.5rem;
      bottom: 5.2rem;
    }
  }
}

main .notice-line {
  overflow: hidden;
  .container {
    align-items: center;
  }
  .notice {
    justify-content: flex-end;
    align-items: center;
    width: 55.5%;
    background-color: #111;
    color: #fff;
    text-align: right;
    dt {

      font-weight: bold;
    }
    li {
      width: 29rem;
      max-height: 0rem; // JS
      overflow: hidden;
      padding: 0 1rem;
      text-align: left;
      font-size: 0.9rem;
      line-height: 1rem;
      &.show {
        max-height: 1rem;
      }
    }
    button {
      width: 4rem;
      height: 4rem;
      margin-right: .5rem;
      background: url('#{$directory}btn_notice_plus.png') no-repeat center;
      background-size: 55%;
    }
  }
  .promo {
    width: 44.5%;
    align-items: center;
    background-color: $color1;
    .btn-promo {
      width: 29rem;
      height: 4rem;
      text-align: right;
    }
    span {
      padding-right: 3rem;
      font-weight: bold;
    }
    button {
      display: inline-block;
      width: 4rem;
      height: 4rem;
      background: url('#{$directory}btn_prom_down.png') no-repeat center;
      background-size: 55%;
      vertical-align: middle;
    }
  }
}

main .reward {
  background-color: $color5;
  color: #fff;
  .inner {
    padding: 2rem 3rem 2.5rem;
    img {
      width: 11rem;
      height: 100%;
    }
  }
  .container {
    width: 100%;
    padding-left: 3rem;
    p {
      line-height: 1.5;
    }
    p.title {
      margin-bottom: .7rem;
      font-size: 1.7rem;
      letter-spacing: -0.2rem;
    }
    & > div {
      justify-content: space-between;
      &:first-of-type {
        padding-bottom: .7rem;
        border-bottom: 1px solid #cccccc40;
      }
      &:nth-of-type(2) {
        padding-top: 1rem;
        font-size: 0.8rem;
      }
    }
    #btn-sign-up {
      border-color: #00704A;
      background-color: #00704A;
    }
    .btn-box {
      justify-content: space-between;
      align-items: flex-end;
      width: 11.9rem;
      padding-bottom: .3rem;
      a {
        padding-left: 1.15rem;
        padding-right: 1.15rem;
      }
    }
  }
}

main .atcl-container {
  article { 
    position: relative;
    overflow: hidden;
    &::before {
      content: '';
      position: absolute;
    }
    &::after {
      content: '';
      position: absolute;
    }
  }
  .inner {
    position: relative;
  }
  .item1 {
    height: 35.7rem;
    background: url('#{$directory}2022_Summer1_bean_bg2.jpg') no-repeat center;
    background-size: cover;
    &::before {
      width: 425px;
      height: 392px;
      background: url('#{$directory}2022_Summer1_bean_bg_left.png') no-repeat center;
      background-size: auto;
      top: -15%;
      left: 0;
    }
    &::after {
      width: 482px;
      height: 360px;
      background: url('#{$directory}2022_Summer1_bean_bg_right.png') no-repeat center;
      background-size: auto;
      bottom: -15%;
      right: 0;
    }
    .abs1 {
      top: 5rem;
      left: 10rem;
    }
    .abs2 {
      top: 11rem;
      right: 12rem;
      img {
        margin-bottom: 2.5rem;
      }
      .btn-h.btn-type1 {
        $btn-color: #1e245c;
        border-color: $btn-color;
        color: $btn-color;
        &:hover {background-color: $btn-color;}
      }
    }
  }
  .item2 {
    height: 25rem;
    background: url('#{$directory}reserve_2022_indonesia_visual_bg.jpg') no-repeat center;
    background-size: cover;
    &::before {
      width: 373px;
      height: 273px;
      background: url('#{$directory}reserve_2022_indonesia_leaf1.png') no-repeat center;
      background-size: auto;
      bottom: 0;
      left: -5%;
    }
    &::after {
      width: 563px;
      height: 301px;
      background: url('#{$directory}reserve_2022_indonesia_leaf2.png') no-repeat center;
      background-size: auto;
      bottom: -15%;
      right: 0;
    }
    .abs1 {
      width: 32rem;
      height: 12rem;
      background: url('#{$directory}reserve_2022_indonesia_title.png') no-repeat center;
      top: 5rem;
      .btn-h.btn-type1 {
        margin-top: 12rem;
        margin-left: 16.5rem;
      }
    }
    .abs2 {
      width: 120rem;
      height: 25rem;
      background: url('#{$directory}reserve_2022_indonesia_visual3.png') no-repeat;
      background-position: right bottom;
      left: -16rem;
    }
    .abs3 {
      top: 17rem;
      left: 16.5rem;
      .btn-h.btn-type1 {
        $btn-color: #b9813e;
        border-color: $btn-color;
        color: $btn-color;
        &:hover {background-color: $btn-color;}
      }
    }
  }
  .item3 {
    height: 50rem;
    background: url('#{$directory}fav_prod_bg_new.jpg') no-repeat center;
    background-attachment: fixed;
    background-size: cover;

    $slide-left: -7rem; // 텍스트 위치 변수
    .abs1 {
      width: 30rem;
      height: 15rem;
      background: url('#{$directory}fav_prod_txt01.png') no-repeat right;
      top: 6.5rem;
      left: $slide-left;
    }
    .abs2 {
      width: 30rem;
      height: 15rem;
      background: url('#{$directory}fav_prod_txt02.png') no-repeat right;
      top: 20.5rem;
      left: $slide-left;
    }
    .abs3 {
      width: 30rem;
      text-align: right;
      bottom: 12.5rem;
      left: $slide-left;
    }
    .abs4 {
      width: 50rem;
      height: 30rem;
      background: url('#{$directory}2022_Summer1_pick_img.png') no-repeat right;
      top: 6rem;
      right: -7rem;
    }
    .btn-h.btn-type1 {
      $btn-color: #fff;
      border-color: $btn-color;
      color: $btn-color;
      &:hover {
        background-color: $btn-color;
        color:#333 !important;
      }
    }
  }
  .item4 {
    height: 25rem;
    background: url('#{$directory}reserve_bg_pc.png') no-repeat center;
    background-position: 50% 90%;
    .abs1 {
      width: 50rem;
      height: 10rem;
      background: url('#{$directory}reserve_text_pc_220120.png') no-repeat left;
      top: 6rem;
      left: 2rem;
    }
    .abs2 {
      width: 50rem;
      height: 25rem;
      background: url('#{$directory}reserve_visual_pc_220119.png') no-repeat;
      background-position: top right;
      right: 5rem;
    }
    .abs3 {
      bottom: 7rem;
      left: 20rem;
      .btn-h.btn-type1 {
        $btn-color: #000;
        border-color: $btn-color;
        color: $btn-color;
        &:hover {background-color: $btn-color;}
      }
    }
  }
  
  .item5 {
    height: 25rem;
    background: url('#{$directory}store_bg.jpg') no-repeat center;
    background-size: cover;
    .inner {
      background: url('#{$directory}store_exp_img04.png') no-repeat;
      background-position: bottom right;
    }

    $slide-right: 2.5rem; // 텍스트 위치 변수
    .abs {
      width: 25rem;
      height: 10rem;
    }
    .abs1 {
      background: url('#{$directory}store_txt01.png') no-repeat left;
      top: 2.8rem;
      right: $slide-right;
    }
    .abs2 {
      background: url('#{$directory}store_txt02.png') no-repeat left;
      top: 7.5rem;
      right: $slide-right;
    }
    .abs3 {
      height: 20rem;
      background: url('#{$directory}store_exp_img02.png') no-repeat top;
      top: 0;
      left: 2.5rem;
    }
    .abs4 {
      height: 20rem;
      background: url('#{$directory}store_exp_img01.png') no-repeat center;
      top: 6rem;
      left: 12rem;
    }
    .abs5 {
      top: 16.5rem;
      right: $slide-right;
      .btn-h.btn-type1 {
        $btn-color: #000;
        border-color: $btn-color;
        color: $btn-color;
        &:hover {background-color: $btn-color;}
      }
    }
  }
}

/***************************
Footer
****************************/

footer {
  padding: 2rem 0;
  background-color: $color2;
  color: #fff;
  font-size: .72rem;
  letter-spacing: -0.05rem;
  .inner {
    width: 1200px;
  }
}

footer .sec1 {
  padding-bottom: 5rem;
  .inner {
    background: url('#{$directory}footer_logo.png') no-repeat right;
  }
  // 공통 서식
  .menu-list {
    margin-right: $menu-list-margin-right;
    margin-bottom: $menu-list-margin-bottom;
    li {
      margin: $menu-list-li-margin;
      color: #fff;
      &.list-tit {
        font-size: $menu-list-li-tit-font-size;
        margin-bottom: $menu-list-li-tit-margin-bottom;
      }
      a{
        display: inline;
      }
    }
  }
}

footer .sec2 {
  padding:1.5rem 0 2.5rem;
  background-color: #282828;
}

footer .sec3 {
  padding:2rem 0 1rem;
  font-size: .72rem;
  color: #ccc;
  ul {
    justify-content: center;
  }
  li {
    padding: 0 .7rem;
    border-right: 1px solid #cccccc20;
    &:first-of-type {
      color: #00B050;
      font-weight: bold;
    }
  }
}

footer .sec4 {
  text-align: center;
  // padding:1.5rem 0 2.5rem;
  .btn-h {
    margin: 0.1rem;
    font-size: 0.72rem;
  }
}

footer .sec5 {
  padding:1.5rem 0 1rem;
  text-align: center;
  color: $color4;
  ul {
    justify-content: center;
    padding-bottom: 1.25rem;
  }
  li {
    margin: 0 .5rem;
  }
  p.copyright {
    letter-spacing: 0;
  }
}